@import "variables";

.top-list-header {
	text-transform: uppercase;
}

.top-list-ul {
	list-style: none;
	max-width: 700px;
	text-align: left;
	margin: 0 auto;
}
.top-list-item {
	list-style: none;
}

.top-position-list {
	border: 1px solid black;
	box-shadow: $box-shadow;
	margin-bottom: 10px;
	padding: 10px;
}

.player-card-info {
	font-size: 16px;
}