@import "variables";

.top-list-header {
	text-transform: uppercase;
}

.top-list-ul {
	list-style: none;
	max-width: 700px;
	text-align: left;
	margin: 0 auto;
}
.top-list-item {
	list-style: none;
}