$font-smooth: rgba(0,0,0,.01) 0 0 1px;
$text-shadow: 1px 1px 1px #000;
$box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.3);
$site-font: 'Play', sans-serif;
$paragraph_font: 'Montserrat', 'sans-serif';
$blue: #3872D5;
$grey: #F1F1F1;
$hover-blue: #4763FF;
$f_weight_bold: 700;