@import "forms";
@import "header";
@import "overrides";
@import "player_search";
@import "top_lists";
@import "variables";

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

input[type="text"],
input[type="textarea"],
textarea {
  appearance: none;
  border: 1px solid black;
  outline: none;
}
input[type="text"]:focus,
input[type="textarea"]:focus,
textarea {
  outline: none;
}

html,
body {
	font-size: 14px;
	margin: 0px;
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
  text-shadow: $font-smooth;
  background: white;
}
body {
	overflow-y: scroll;
}
h1,
h2,
h3 {
	font-family: $site-font;
}
p {
	line-height: 1.6em;
	font-family:'Montserrat', sans-serif;
}

#app-container {
	position: relative;
	height: 100%;
}

//Page container
.main-page-container {
	height: 100%;
	text-align: center;
	background: white;
	z-index: 10;
}
