@import  "forms";
@import "header";
@import "overrides";
@import "player_search";
@import "top_lists";
@import "variables";

*, *:before, *:after {
  -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box;
}

input[type="text"] {
  appearance: none;
  box-shadow: $box-shadow;
  border: none;
  outline: none;
}
input[type="text"]:focus {
  outline: none;
}

html,
body {
	font-size: 14px;
	margin: 0px;
	height: 100%;
	width: 100%;
	-webkit-font-smoothing: antialiased;
  text-shadow: $font-smooth;
  	background: white;
}

#app-container {
	position: relative;
	height: 100%;
}

//Page container
.main-page-container {
	height: 100%;
	text-align: center;
	background: white;
	z-index: 10;
}
